.green {
    background: #2CC3B4;
}

.green-text {
    color: #2CC3B4;
}

.blue {
    background: #4a8eec;
}

.oranje {
    background: #E98B14;
}

.gray {
    background: #EEF2F6;
}

.gray-card {
    background: #8d8d8d;
}

.purple {
    background: #9F3893;
}

body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}

main {
    margin-top: 75px;
    margin-bottom: 37px;
    height: auto;
}

main .zoom-out:hover {
    transition: 0.3s;
    transform: scale(1.02);
}

a {
    text-decoration: none;
}

.boton {
    padding: 10px;
    border-radius: 5px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.inputClass {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-bottom: 1px solid #c6c6c6;
    border-radius: 0;
    padding-bottom: 0;
    background: #f9f9f9;
    width: 100%;
    padding: 15px 15px 3px 10px;
    color: #707981;
}

.perfil {
    margin-top: 18px;
    height: 600px;
}

.perfil:hover {
    transition: 0.3s;
    background: #f9fcff;
}

.preloader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease;
}

.fade-out-animation {
    opacity: 0;
    visibility: hidden;
}

@media (max-width: 992px) {

    .perfil {
        display: none;
    }

    .container {
        margin-top: 92px;
    }

    footer {
        position: relative;
    }
}