.green {
    background: #2CC3B4;
}

.green-text {
    color: #2CC3B4;
}

.blue {
    background: #4a8eec;
}

.oranje {
    background: #E98B14;
}

.gray {
    background: #EEF2F6;
}

.gray-card {
    background: #8d8d8d;
}

.purple {
    background: #9F3893;
}

body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}

main {
    margin-top: 100px;
    margin-bottom: 60px;
    height: auto;
}

main .zoom-out:hover {
    transition: 0.3s;
    transform: scale(1.05);
}

a {
    text-decoration: none;
}

.boton {
    padding: 10px;
    border-radius: 5px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.inputClass {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-bottom: 1px solid #c6c6c6;
    border-radius: 0;
    padding-bottom: 0;
    background: #f9f9f9;
    width: 100%;
    padding: 15px 15px 3px 10px;
    color: #707981;
}

@media (max-width: 992px) {
    .date-hour {
        display: none;
    }

    .container {
        margin-top: 90px;
    }

    footer {
        position: relative;
    }
}